/* Patrones globales del CSS */

/* Tipo de Títuños, Subtítulos, Enlaces, botones y Párrafos: Nunito */
h1, h2, h3, h4, h5, h6, a, button, p, span, strong, em, div { font-family: 'Nunito', sans-serif; }

/* Quitar Margent por defecto de Body */
body { margin: 0 auto !important; overflow-x: hidden !important;}

/* Quitar margen por defecto de Tíitulos y Párrafos */
h1, h2, h3, h4, h5, h6, p, figure {margin: 0; }

/* Confirmar display: block; a elementos de estructura HTML5 */
header, aside, main, footer, section, article, figure, nav, figcaption { display: block;}


/* Configuración del estilo propio  */


/* Componente Aside Menú Responsive */
aside#menu-responsive { width: 290px; height: 100%; display: none; margin: 0; float: none; position: fixed; top: 0; right: -290px;  z-index: 99998; background: #F2CAC0;}

aside#menu-responsive a#abrir { width: 35px; height: auto; display: block; margin: 0 ; float: none; position: absolute; top: 20px; left: -45px; z-index: 1; color: #2A6969 ;background: transparent ; font-size: 1.2em; line-height: 1em; text-align: center; padding: 7.5px 0;  border-radius: 0 3px 3px 0; transition: all 0.3 ease-in  ; }
aside#menu-responsive a#abrir:hover { background: #ecbfb3; transition: all 0.3 ease-in; }

aside#menu-responsive a#cerrar  { width: 35px; height: auto; display: none; margin: 0 ; float: none; position: absolute; top: 20px; left: -45px; z-index: 2; color: #2A6969 ;background: transparent ; font-size: 1.2em; line-height: 1em; text-align: center; padding: 7.5px 0;  border-radius: 0 3px 3px 0; transition: all 0.3 ease-in  ; }
aside#menu-responsive a#cerrar:hover { background: #ecbfb3; transition: all 0.3 ease-in; }


aside#menu-responsive nav { width: 50%; height: auto; display: block; margin: 70px auto 0 auto; float: none; position: relative; }
aside#menu-responsive nav a { width: 100%; height: auto; display: block; margin: 0 auto ; float: none; position: relative;color: #2A6969 ; font-size: 1.1em; line-height: 1em; text-decoration: none; padding: 40px 0;  text-align: center ; }
aside#menu-responsive nav a:hover { color: #F9F9F9; transition: all 0.3 ease-in; }


/* Componente Aside : Botón flotante Whatsapp */
      
    aside#boton-whatsapp { width: 50px; height: 50px; margin: 0; float: none; position: fixed; bottom: 30px; left: 30px ; z-index: 99999;}
    aside#boton-whatsapp a { width: 50px; height: 50p; display: block; margin: 0 auto; float: none; position: relative; color: white;background: #2acc3e ; font-size: 1.55em; line-height: 1em; text-align: center; padding: 12.5px 0;  border-radius: 50%; box-shadow: 0 0 15px rgb(0 0 0 /35% ); transition: all 0.3 ease-in  ; }
    aside#boton-whatsapp a:hover { color: #2acc3e; background: #333; transition: all 0.3 ease-in  ;}

    /* Componente Header con logo a la izquierda y menú a la derecha */

    header {   width: 100%; height: 100px; margin: 0; float: none; position: fixed; top: 0; left: 0; z-index: 99995; background: #F2CAC0; }
    header article { width: 1100px; height: 100px; margin: 0 auto ; float: none; position: relative;}

    header article figure { width: 88px; height: 93px; display: block; margin: 2px 30px 2px 30px ; float: left; position: relative;}
    header article figure a { width: 100%; height: auto; display: block; margin: 0 auto; float: none; position: relative; transition: all 0.3s ease-in;}
    header article figure a img { width: 100% ; height: auto; display: block; margin: 0 auto; float: none; position: relative; transition: all 0.3s ease-in; }
    header article figure a:hover { transform: scale(1.1); transition: all 0.3s ease-in;}

    header article nav#menu { width: 600px ; height: 35px ;display: block; margin: 30px 110px; float: left; position: relative;}
    header article nav#menu a { width: auto; height: auto; display: block; margin: 0 25px; float: left; position: relative ; font-size: 1.2em; line-height: 1em; color: #2A6969; text-decoration: none; padding: 10px 0; font-weight: 400; letter-spacing: 0.03em; border-bottom:solid 2px #F2CAC0; transition: all 0.3s ease-in;}
    header article nav#menu a:hover { color: #faf3f1; border-bottom:solid 2px #F2E4E4; transition: all 0.3s ease-in; }
    header article nav#menu a.activo {color: #faf3f1; border-bottom:solid 2px #F2E4E4; transition: all 0.3s ease-in; }

    header article nav#social {width: 120px; height: 35px ; display: block; margin: 30px 5px ; float: right; position: relative; }
    header article nav#social a { width: 35px; height: auto; display: block; margin: 0 2px; float: left; position: relative; color: #2A6969; font-size: 1.25em; line-height: 1em; text-align: center; padding: 7.5px 0; transition: all 0.3 ease-in  ; }
    header article nav#social a:hover {color: #faf3f1; transition: all 0.3s ease-in;}


    /* caja Main */

    main {width: 100%; height: auto; display: block; margin: 80px auto 0 auto; float: none; position: relative;}


    /* Section Banner */

    main section#banner { width: 100% ; height: 85vh ;  margin: 0 auto ; float: none; position: relative; background: url(../img/contenido/nathaly-gutierrez-contenido-de-marca-inicio.jpg) no-repeat top center; background-size: cover; }
    main section#banner article { width: 1100px ; height: 410px ;  margin: 0 auto ; float: center; position: relative; color: #2A6969;  }

    main section#banner article figure#texto-banner { width: 500px ; height: 420px ;  margin: 0 auto  ; display: block; float: right; position: relative; padding: 115px 0; }
    main section#banner article h1 { margin: 0 auto ; display: block; font-size: 4.5em; text-align: center; text-decoration: none ; padding: 265px 0 0 0; font-weight: 500; }
    main section#banner article h4 {margin: 0 auto; display: block; font-size: 2em; text-align: center; text-decoration: none ; padding: 5px 0; font-weight: 400; }


    /* Section Perfil */  /* DEGRADADO Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/ */
    main section#perfil {width: 100% ; height: 85vh ;  margin: 0 auto ; float: none; display: block; position: relative; background: -moz-linear-gradient(top, rgba(242,228,228,0) 0%, rgba(242,228,228,0.81) 45%, rgba(242,228,228,1) 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(242,228,228,0) 0%,rgba(242,228,228,0.81) 45%,rgba(242,228,228,1) 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(242,228,228,0) 0%,rgba(242,228,228,0.81) 45%,rgba(242,228,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2e4e4', endColorstr='#f2e4e4',GradientType=0 ); /* IE6-9 */ ; color: #2A6969; }
    main section#perfil article { width: 1100px ; height: 1000px ;  margin: 0 auto ; float: none; position: relative;  }

    main section#perfil article figure { width: 510px ; height: 420px ;  margin: 55px 0 55px 35px  ; display: block; float: left; position: relative; padding: 20px 0; }
    main section#perfil article figure img { width: 510px ; height: 420px ;  margin: 0 auto ; display: block; float: left; position: relative; border-radius: 25px; }

    main section#perfil article figure#texto-perfil { width: 500px ; height: 420px ;  margin: 0 50px  ; display: block; float: right; position: relative; padding: 115px 0; }
    main section#perfil article figure h3 { margin: 20px 0  ; display: block; font-size: 1.2em; text-align: center; padding: 0;  }
    main section#perfil article figure h2 { margin: 20px 0 ; display: block; font-size: 2em; text-align: center;  }
    main section#perfil article figure p {margin:30px 0; display: block; font-size: 1em; text-align: left;  ;}

    main section#perfil article a { width: 60px; height: auto; margin: 0 auto; float: left; display: block; position: relative; color: #2A6969; text-align: center; text-decoration: none; font-size: 1em; font-weight: 580; padding: 5px; border-radius: 25px; background: #F2CAC0;}
     
    /* Section principal */

    main section #principal { width: 100%; height: 85vh ;  margin: 0 auto ; float: none; display: block; position: relative; background: #F9F9F9; color: #2A6969; }
    main section#principal article { width: 1100px ; height: 552px ;  margin: 0 auto ; float: none; position: relative; color: #2A6969; }

    main section#principal article figure { width: 510px ; height: 420px ;  margin: 40px 0 40px 35px  ; display: block; float: left ; position: relative; padding: 20px 0; }
    main section#principal article figure img { width: 510px ; height: 420px;  margin: 0 auto ; display: block; float: left; position: relative; border-radius: 25px; }

    main section#principal article figure#texto-principal { width: 500px ; height: 420px ;  margin: 0 55px  ; display: block; float: left; position: relative; padding: 115px 0; color: #2A6969; }
    main section#principal article figure h3 { margin: 20px 0  ; display: block; font-size: 1.2em; text-align: center; padding: 0 ; }
    main section#principal article figure h2 { margin: 20px 0 ; display: block; font-size: 2em; text-align: center;  }
    main section#principal article figure p {margin: 30px 0; display: block; font-size: 1em; text-align: left; }

    main section#principal article a { width: 60px; height: auto; margin: 0 auto; float: left; display: block; position: relative; color: #2A6969; text-align: center; text-decoration: none; font-size: 1em; font-weight: 580; padding: 5px; border-radius: 25px; background: #F2CAC0;}


    /* Section servicios */
    main section#servicios { width: 100% ; height: 85vh ;  margin: 0 auto ; float: none; position: relative; background: #FAF3F1; color: #2A6969; }
    main section#servicios article { width: 1100px ; height: 600px ;  margin: 0 auto ; float: none; position: relative; color: #2A6969;  }

    main section#servicios article figure { width: 510px ; height: 420px ;  margin: 50px 0 50px 35px ; display: block; float: left; position: relative; padding: 15px 0; }
    main section#servicios article figure img { width: 510px ; height: 420px ;  margin: 0 auto ; display: block; float: left; position: relative; border-radius: 25px; }

    main section#servicios article figure#texto-servicios { width: 500px ; height: 420px ;  margin: 0 50px  ; display: block; float: right; position: relative; padding: 115px 0; }
    main section#servicios article figure h3 { margin: 20px 0  ; display: block; font-size: 1.2em; text-align: center; padding: 0;  }
    main section#servicios article figure h2 { margin: 20px 0 ; display: block; font-size: 2em; text-align: center;  }
    main section#servicios article figure p {margin:30px 0; display: block; font-size: 1em; text-align: left;  ;}

    main section#servicios article a { width: 60px; height: auto; margin: 0 auto; float: left; display: block; position: relative; color: #2A6969; text-align: center; text-decoration: none; font-size: 1em; font-weight: 580; padding: 5px; border-radius: 25px; background: #F2CAC0;}


     /* Componente footer */

     footer { width: 100%; height: 300px; margin: 0 auto; float: none; position: relative; background: #F2CAC0; }
     footer article { width: 30%; height: auto; margin: 0 auto; float: none; position: relative; padding: 10px 0; }
 
     footer article > a { width: 150px; height: 155px; display: block; margin: auto; float: none; position: relative ; }
     footer article > a img { width: 100%; height: auto; display: block; margin: auto; float: none; position: relative; transition: all 0.3s ease-in; }
     footer article > a:hover { transform: scale(1.1); transition: all 0.3s ease-in; }
 
     footer article nav { width: 400px; height: 35px; display: block; margin: 40px 3px; float: none; position: relative ; }
     footer article nav a { width: 50px; height: auto; display: block; margin: 5px 40px; float: left; position: relative; color: #2A6969; font-size: 1.5em; line-height: 1em; text-align: center; padding: 20px 0; transition: all 0.3 ease-in  ;  }
     footer article nav a:hover {color: #faf3f1; transition: all 0.3s ease-in;}





    @media only screen and (max-width: 1199px){ 
    aside#menu-responsive { display: block;}
    header article { width: 80%;}
    header article nav#menu {display: none;}
    header article figure { margin: 2px auto; float: none;}
    header article nav#social { display: none;} 
     }

    @media only screen and (max-width: 599px) {
        header article { width: 90%;}
        header article nav#social { display: none;}
        header article figure { margin: 2px auto;}
    }

